* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

body {
    background-color: black;
}

section {
    border-top: 1px solid #33A8DB;
    padding: 72px 0 144px 0;
}

.banner {
    height: 605px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center / contain no-repeat linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('assets/images/banner.png') ; 
}


.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


   .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 268px;
        height: 268px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;

   }
   
   .title {
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(90deg,rgba(51, 168, 219, 1) 0%, rgba(20, 114, 183, 1) 100%);
    background-clip: text;
    font-size: 40px;
    font-weight: 900;
   }

   .subtitle {
       color: #fff;
       width: 80%;   
       font-size: 20px;  
       text-align: center;
       margin-bottom: 24px;
   }

   .button {
       padding: 18px 32px;
       background-color: transparent;
       text-transform: uppercase;
       color: transparent;
       background: linear-gradient(90deg,rgba(51, 168, 219, 1) 0%, rgba(20, 114, 183, 1) 100%);
       background-clip: text;
       font-weight: 900;
       border-image: linear-gradient(90deg,rgba(51, 168, 219, 1) 0%, rgba(20, 114, 183, 1) 100%) 10;
   }
}

#course-content {
    text-align: center;

    .title {
       text-transform: uppercase;
       color: transparent;
       background: linear-gradient(90deg,rgba(51, 168, 219, 1) 0%, rgba(20, 114, 183, 1) 100%);
       background-clip: text;
       font-size: 32px;
    }

    .text {

        color: #fff;
        max-width: 60%;
        margin: auto;
        margin-bottom: 24px;
    }

    .modules-list {

        color: #fff;
         max-width: 600px;
         margin: auto;

        .module {
            margin-bottom: 24px;
            background-color: #252525;
            padding: 16px 112px;
            width: 100%;
            text-wrap: nowrap;
            border-radius: 64px;
            border: 2px solid #33A8DB;
            box-shadow: 0 3px 5px  #000000 inset;

            span {
                color: #33A8DB;
            }
         }
    }
}

#transform-world {
    color: #fff;
    text-transform: lowercase;
    background-color: red;
    height: 500px;
    padding: 192px;
    background: center / cover fixed url(assets/images/woman-code.png);

    p {
        max-width: 244px;
        font-size: 40px;
        text-shadow: 3px 2px #33A8DB;
        font-weight: 900;
    }
}

#professional-challenges {
    text-align: center;
    padding-top: 72px;

    .title {
        font-size: 32px;
        color: #33A8DB;
        text-transform: uppercase;
    }

    .text {
        margin: auto;
        max-width: 700px;
        font-size: 16px;
    }
}

.footer {
    height: 176px;
    text-align: center;
    border-top: 1px solid #33A8DB;
    padding-top: 64px;
    background: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));

    img { 
        margin-bottom: 8px;
    }

    a {
        text-decoration: none;
        color: #33A8DB;
        cursor: pointer;
    }
}